body {
    padding: 20px;
    background-color: #eceff1;
    width: 100%;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw !important;
    margin-bottom: 0.5rem !important;
}

@keyframes shimmer {
    20%, 100% {
        -webkit-mask-position:left
    }
}

#main {
    height: 100%;
    overflow: hidden;
    position: fixed;
}

#caramel_img {
    filter: drop-shadow(0px 1px 2px rgb(0 0 0 / 0.6));
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: auto;
}

#cotton_img {
    border-radius: 20px;
}

#fudge_img {
    filter: drop-shadow(0px 1px 2px rgb(0 0 0 / 0.6));
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
}

#beverages {
    max-width: 80%;
    margin: auto;
    margin-top: 12px;
}

.group {
    margin-bottom: 10px;
    border-radius: 12px;
    background-color: #fff;
    padding: 10px;
    height: 61.67vh;
    display: flex;
    flex-direction: column;
}

.columns {
    align-items: flex-start;
    height: calc(100vh - 40px);
}

.column {
    display: flex;
    flex-direction: column;
}

svg {
    filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.4));
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    animation: shimmer 5s infinite;
    margin-top: 15px;
    align-self: center;
}

.click {
    padding: 0;
}

.false {
    color: grey;
    font-style: italic;
}

.button {
    width: 20vw;
    border-radius: 0 !important;
}

.menu_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    font-size: 1.2vw;
}

.items:nth-of-type(2) {
    margin-top: auto;
}

.item_label {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90vw;
    background-color: aliceblue;
    font-size: 1rem;
}

.field:not(:last-child) {
    margin: 0;
}



