<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Click!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class="click">
        {% for item in items %}
            <div class="field">
                <form action="" method="POST" id="{{ item.name }}_form" class="menu_item menu_button">
                    <label for="{{ item.name }}" id="{{ item.name }}_label" class="item_label">{{ item.name }}</label>
                    <div class="control">
                        {% if item.status %}
                            <button id="{{ item.name }}" class="button is-danger">
                            Out
                            </button>
                        {% else %}
                        <button id="{{ item.name }}" class="button is-primary">
                            In
                        </button>
                        {% endif %} 
                    </div>
                    <input type="hidden" name="item" value="{{ item.name }}">
                </form>
            </div>
        {% endfor %}
    </body>
    <script>
        document.querySelectorAll('.menu_item').forEach(function(form) {
            form.addEventListener('submit', function(e) {
                e.preventDefault();
                form.children[1].children[0].classList.toggle('is-primary');
                form.children[1].children[0].classList.toggle('is-danger');
                form.children[1].children[0].innerHTML = form.children[1].children[0].innerHTML ==='In' ? 'Out' : 'In';
                const payload = new FormData(form);
                fetch("/click", {
                    method: 'POST',
                    body: payload
                })
            })})
    </script>
</html>