<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Socket!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script>
            const socket = io();
        </script>
    </head>
    <body id="main">
        <div class="columns">
            <div class="column">
                <div class="group">
                    <div class="items">
                        <h1 class="title">Fresh Fudge!</h1>
                        {% for item in fudges %}
                            <div id="{{ item.name }}" class="{{ item.status|string|lower }} menu_item"><span class="item_name">{{ item.name }}</span> 
                                <span class="price">
                                {% if not item.status %}
                                    Sold Out
                                {% else %}
                                    {{ item.price }}
                                {% endif %}
                                </span>
                            </div>
                        {% endfor %}
                        <img id="fudge_img" src="/static/PBC.png">
                    </div>
                    <div class="items">
                        <h1 class="title">Chocolate Dipped Treats!</h1>
                        {% for item in chocolates %}
                            <div id="{{ item.name }}" class="{{ item.status|string|lower }} menu_item"><span class="item_name">{{ item.name }}</span>
                                <span class="price">
                                    {% if not item.status %}
                                        Sold Out
                                    {% else %}
                                        {{ item.price }}
                                    {% endif %}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="column">
                    <div class="group">
                        <div class="items">
                            <h1 class="title">Apples!</h1>
                            {% for item in apples %}
                                <div id="{{ item.name }}" class="{{ item.status|string|lower }} menu_item"><span class="item_name">{{ item.name }}</span>
                                    <span class="price">
                                        {% if not item.status %}
                                            Sold Out
                                        {% else %}
                                            {{ item.price }}
                                        {% endif %}
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                        <img id="caramel_img" src="/static/caramel.png">
                        <div class="items">
                            <h1 class="title">Candy!</h1>
                            {% for item in candies %}
                                <div id="{{ item.name }}" class="{{ item.status|string|lower }} menu_item"><span class="item_name">{{ item.name }}</span>
                                    <span class="price">
                                        {% if not item.status %}
                                            Sold Out
                                        {% else %}
                                            {{ item.price }}
                                        {% endif %}
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <svg id="special" viewbox="0 0 300 300">
                            <path id="top" d="M 14 100 a 138 82 0 0 1 274, 0"/>
                            <path id="bottom" d="M 2 100 a 148 82 0 0 0 296, 0"/>
                            <ellipse cx="150" cy="100" rx="148" ry="94" fill="#ede7f6" />
                            <text text-anchor="middle" font-size="20px">
                                <textPath href="#top" startOffset="50%">
                                    Buy Four Pieces
                                </textPath>
                                <textPath href="#bottom" startOffset="50%">
                                    Get Two Free!
                                </textPath>
                            </text>
                            <style>
                                #fudge_special {font : italic 32px serif; fill : #26418f;}
                            </style>
                            <text id="fudge_special" x="55" y="106">Fudge Special!</text>
                    </svg>
                </div>
            <div class="column">
                <div class="group">
                    <h1 class="title">Soft Drinks!</h1>
                    {% for item in drinks %}
                        <div id="{{ item.name }}" class="{{ item.status|string|lower }} menu_item"><span class="item_name">{{ item.name }}</span>
                            <span class="price">
                                {% if not item.status %}
                                    Sold Out
                                {% else %}
                                    {{ item.price }}
                                {% endif %}
                            </span>
                        </div>
                    {% endfor %}
                    <ul id="beverages">
                        {% for item in bevs %}
                        <li>
                            <div id="{{ item.name }}" class="{{ item.status|string|lower }} menu_item">
                                <span class="item_name">{{ item.name }}</span>
                                <span>
                                    {% if not item.status %}
                                        Sold Out
                                    {% endif %}
                                </span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </body>
    <script>
        socket.on('out', ev => {
            let name = ev.name;
            let price = ev.price;
            let status = ev.status;
            if (status === false) {
                let item = document.getElementById(name);
                item.classList.replace("true", "false");
                item.children[1].innerHTML = 'Sold Out';
            }
            else if (status === true) {
                let item = document.getElementById(name);
                item.classList.replace("false", "true");
                item.children[1].innerHTML = price > 0 ? price : '';
            }
        });
    </script>
</html>